/** Add css rules here for your application. */
.gwt-TabBar .gwt-TabBarItem-wrapper {
	width: 33.33%;
	height: 50px;
}

.gwt-TabBar .gwt-TabBarItem {
	height: 50px;
}


.tabOneVideo {
	display: block;
	margin: 0 auto;
	width: 70% !important;
	height: auto !important;
}

.title {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	padding: 20px 0px 20px;
}

.tabOneTitle {
	padding: 20px 0px 5px !important;
}

.customImage {
	text-align: center;
	margin: 0 auto;
	display: block;
	width: 40% !important;
	height: auto !important;
}

.displayText {
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.displaySize {
	font-size: 2em;
}

.gwt-Button-color {
	margin: 0px 5px 0px 5px !important;
}

.gwt-Label{
	padding: 0px 0px 20px;
}

.textboxPanel {
	margin: 30px 0px 0px 5px;
}

.errorLabel {
	color: red;
}

.successLabel {
	color: green;
}

.neutralLabel {
	color: black;
}

/* .fade { */
/*    opacity: 1; */
/*    transition: opacity .25s ease-in-out; */
/*    -moz-transition: opacity .25s ease-in-out; */
/*    -webkit-transition: opacity .25s ease-in-out; */
/*    } */
   
/*    .fade:transition { */
/*       opacity: 0.5; */
/*       } */
